form {
    width: 100%;
    display: flex;
    justify-content: left;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}
form label {
    margin-right: 0.5rem;
    
}

form input {
    border-radius: 2px solid black;
}

form button {
    margin-left: 3rem;
    width: 5rem;
    background-color: rgb(80, 139, 177);
    color: white;
    border-radius: 2px ;
    border: 1px solid black;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(93, 152, 190);
}

form button:focus {
    background-color: rgb(19, 57, 82);
}